html{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #045de9, #09c6f9);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-image: url("./pages/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color:black;

}

/* HEADER.JS STYLES */
.sHeader {
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding: 10px;
  overflow-wrap: break-word;
  max-height:20vh;
  /* text-overflow: ellipsis; */
}

.page-title {
  text-shadow: 2px 2px 2px #519ef5;
 
  /* color:white; */
}

.bell {
  margin: auto 15px;
  /* color: white; */
}

/* POSTS.JS STYLES */
.p-column-container {
  height: 100vh;
  display:flex;
  justify-content: center;
  background-color: whitesmoke;
  
}

.p-container {
  /* left: 240px; */
  display:flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.archp-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;  
}

.posts-title {
  /* color: white; */
  color: black;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
}

.posts-container {
  overflow-y: scroll;
  height: 65vh; 
}

.a-posts-container{
  overflow-y: scroll;
  height: 80vh;
}

.posts-container::-webkit-scrollbar, .a-posts-container::-webkit-scrollbar{
  width: 12px;
}

.posts-container::-webkit-scrollbar-track, .a-posts-container::-webkit-scrollbar-track{
  background: #045de9 ;
}

.posts-container::-webkit-scrollbar-thumb, .a-posts-container::-webkit-scrollbar-thumb{
  background-color: #00286a;
  border-radius: 20px;
  border: 3px solid #045de9 ;
}

.posts-form {
  padding: 10px;
  width: 100%;
}

.posts-form-title {
  /* margin: 15px; */
  font-weight: bold;
  /* color: white; */
  /* color: black; */
  padding-left: 10px;
  padding-bottom: 5px;
}

.post-button {
  padding-right: 2.5%;
  text-align: right;
  margin: 5px 15px;
}

/* POST.JS STYLES */
.post {
  border-top: #045de9 1px solid;
}

.root-post { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
}

.post-container {
  display: flex;
  width: 100%;
}

.a-post-upvote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  /* color: white; */
}

.post-upvote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  /* color: white; */
}

.post-upvoted {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  color: rgb(74, 220, 74);
}
.post-upvote:hover, .post-upvoted:hover {
  cursor: pointer;
}


.upvote-lbl{
  margin-top: 5px;
  font-weight: bold;
}

.post-content {
  border-radius: 12px;
  margin: 0px 5px;
  padding: 10px;
  width: 95%;
  /* display: flex; */
}

.top-row {
  display: inline-flex;
  font-size: small;
  /*text-align: Left;*/
}

.created-at {
  /* color: lightgray; */
  color: gray;
  font-style: italic;
  margin-bottom: 5px;
}

.report {
  /* text-align: Right; */
  margin-left: 5px;
  /* background-color: aqua; */
}

.post-text {
  padding-top: 5px;
  padding-right: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  font-size: 12;
  /* color:white; */
  inline-size: 100%;
  overflow-wrap: break-word;
  hyphens: manual;
  white-space: pre-wrap;
}

.post-actions {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  /* color:lightgray; */
  color:gray;
  font-size: small;
}

.post-action {
  margin: 15px 10px 5px 0px;
  font-style: italic;
  
  /* margin-right: 0px; */
}
.post-action:hover {
  cursor: pointer;
}

.comment-actions {
  display: flex;
}

#see-replies {
  margin-right: auto;  
  
}
.replies {
  margin-left: 30px;
}


/* POSTFORM.JS STYLES */
.post-form-textarea {
  text-transform: none;
  word-break: break-word;
  width: 100%;
  /* height: 75px; */
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  /* color:white;   */
  /* border: lightgray solid 1px; */
  resize: none;  
}

.form-buttons {
  display: flex;  
}

.post-form-button {
  color: white;
  background-color:#045de9;
  border-radius: 25px;
  margin: 5px 2px;
  border: none;
  padding: 5px 15px;
  margin-right: 0px;
  margin-left: auto;  
}

.post-form-cancel-button {
  color: white;
  background-color: #045de9;
  border-radius: 25px;
  margin: 5px 2px;
  border: none;
  padding: 5px 15px;
  margin-right: 0px;  
}

.post-form-button:hover, .post-form-cancel-button:hover {
  background-color: #519ef5;
  cursor: pointer;
}