body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./pages/background.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* h1 {
  color: white;
} */

/* HEADER.JS STYLES */
.container {
  background-image: url("./pages/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: aqua; */
  display: flex;
}

.column-container {
  /* background-color: aquamarine; */
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.sHeader {
  /* background-color: aqua; */
  display: flex;
  margin: 0px 10px;
}

.p-container {
  background-color: lightgray;
  display: flex;
  /* flex-direction: column; */
}

.PSearch {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.bell {
  /* background-color: aquamarine; */
  margin: auto 25px;
}

.sidebar-container {
  background-color: black;
}

.post {
  border-top: darkgray 1px solid;
  /* border-bottom: darkgray 1px solid; */
}

/* POST.JS STYLES */
/* .post {
  border: solid 1px black;
} */

.posts-title {
  color: black;
}
.root-post {
  /* background-color: blanchedalmond; */
  /* background-color: lightpink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  /* border-left: darkgray 1px solid; */
  /* border-top: darkgray 1px solid; */
  /* border-radius: 12px; */
}

.post-container {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  width: 100%;
  /* flex-direction: row; */
}

.post-upvote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  /* background-color: brown; */
  /* background-color: lightgrey; */
}

.post-content {
  /*display: inline-block;*/
  /* background-color: aqua; */
  background-color: whitesmoke;
  border-radius: 12px;
  margin: 0px 5px;
  padding: 10px;
  width: 100%;
}

.Top-Row {
  display: inline-flex;
  /*text-align: Left;*/
}

.created-at {
  color: gray;
  font-style: italic;
}

.report {
  /* text-align: Right; */
  margin-left: 5px;
  /* background-color: aqua; */
}

.post-text {
  margin-top: 5px;
  padding-top: 5px;
  /* background-color: aqua; */
}

.post-actions {
  display: flex;
  flex-direction: row-reverse;

  /* background-color: green; */
}

.post-action {
  margin: 2px 5px;
  font-style: italic;
  color: gray;
  /* margin-right: 0px; */
}

/* .post-action-reply {
  text-align: right;
} */

.replies {
  margin-left: 30px;
}

.comment-actions {
  display: flex;
}

/* POSTS.JS STYLES */
.posts {
  background-color: whitesmoke;
  width: 800px;
  height: auto;
  /* margin: 0px 150px; */
}

.posts-title {
  /* background-color: red; */
  background-color: whitesmoke;
  text-align: center;
}

.posts-form {
  /* background-color: aqua; */
  /* border-radius: 25px; */
  border-top: darkgray 2px solid;
}

.posts-form-title {
  /* background-color: lightgrey; */
  /* text-align: center; */
  /* border-radius: 25px; */
  margin: 15px;
  font-weight: bold;
}

.posts-container {
  /* background-color: lightpink; */
  /* background-color: lightgrey; */
  margin: 2px;
  padding: 10px;
  /* border: solid black 2px; */
  border-radius: 12px;
}

.post-form {
  display: flex;
  flex-direction: column;
}

/* POSTFORM.JS STYLES */
.post-form-textarea {
  /* background-color: lightgrey; */
  /* margin-left: 2.5%;
  margin-right: 2.5%; */
  width: 80%;
  padding: 10px;

  /* max-width: 500px; */
  border-radius: 10px;
}

.form-buttons {
  /* flex-direction: row-reverse; */
  margin-right: 0px;
  border-radius: 5px;
  /* background-color: aqua; */
}

.post-form-button {
  color: white;
  background-color: steelblue;
  border-radius: 5px;
  margin: 5px 2px;
  /* font */
}

.post-form-button post-form-cancel-button {
  color: steelblue;
}

.button-post {
  /* padding-right: 2.5%; */
  text-align: right;
  margin: 5px 15px;
  /* margin-left: 25px; */
  /* margin-bottom: 5px; */
}
