body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER.JS STYLES */
.container {
  background-color: aqua;
  display: flex;
}

.column-container {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.sHeader {
  /* background-color: aqua; */
  display: flex;
  margin: 0px 10px;
}

.p-container {
  background-color: blue;
  display: flex;
  /* flex-direction: column; */
}

.PSearch {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.bell {
  /* background-color: aquamarine; */
  margin: auto 25px;
}

.sidebar-container {
  background-color: black;
}

/* POST.JS STYLES */
/* .post {
  /* border: solid 1px black; */
/* } */
.root-post {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
}

.post-upvote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
}

.post-content {
  background-color: aqua;
  margin: 0px 5px;
}

.post-actions {
  display: flex;
}

.post-action {
  margin: 2px 5px;
}

.replies {
  margin: 0px 20px;
}

.comment-actions {
  display: flex;
}

/* POSTS.JS STYLES */
.posts {
  background-color: aliceblue;
}

.posts-title {
  background-color: red;
}

.posts-form {
  background-color: bisque;
}

.posts-form-title {
  background-color: steelblue;
}

.posts-container {
  background-color: lightpink;
}

.posts-container {
  border: solid black 2px;
}

/* POSTFORM.JS STYLES */
.post-form-textarea {
  background-color: blueviolet;
}

.post-form-button {
  color: steelblue;
}

.post-form-button post-form-cancel-button {
  color: steelblue;
}
