.column-cont {
  display:flex;
  justify-content: center;
  /* align-items: center; */
  background-color: whitesmoke;
  height:100vh;
  overflow-y: scroll;
}

.web-column-cont {
  display:flex;
  justify-content:center;
  /* align-items: center; */
  height: 100vh;
  /* width: 100%; */
  background-color: whitesmoke;
  overflow-y: scroll;
}

h2 {
  color: black;
}

.home-dash {
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  /* align-items: center; */
  width: 320px;
  /* height: 100%; */
  margin: 0 10px;
  gap: 2%;
  /* background-color: green; */
}

.web-home-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: 100%;  
}

/* Join Create Cards */
.web-h-cj-cont {
  display:flex;
  align-items:center;
  width: 80%;
  gap: 1.5%;
  height: 50%;
  /* background-color: pink; */
}

.h-cj-cont {
  /* display:flex; */
  align-items:center;
  width: 100%;
  /* gap: 1.5%; */
  /* height: 500px; */
}

/* .h-cj-cont button {
width: max-content;
} */

.web-card {
  display: flex;
  width: 100%;
  height: 80%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #045de9;
  min-height:300px;
  /* background-color: red; */
}

.card {
  display: flex;
  margin-top: 10px;
  width:300px;
  height: 300px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #045de9;
  
}

.left, .left2{
display: flex;
justify-content: center;  
align-items: center;
overflow:hidden;
min-height:300px;
border-radius: 25px 0 0 25px;
}

.left-img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.left2-img{
min-width: 100%;
min-height: 100%;
object-fit: cover;
}

.h-j-cont, .h-c-cont {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align:center;
border-radius: 0 25px 25px 0;
width: 50%;
height: 100%;
min-width: 150px;
min-height:300px;
background-color: #2e7bff;
padding: 15px;
color:white;

/* margin-right: 5%; */
}

/* background-image: url("./william-moreland-unsplash.jpg"); */

.h-j-cont h3, .h-c-cont h3 {
color:white;
}

.h-js-btn, .h-cs-btn {
margin: 10px;
min-width: 100px;
cursor: pointer;
font-size: 15px;
background: #0049c6;
border: none;
color: #fff;
padding: 10px;
border-radius: 25px;
box-shadow: 5px 5px 5px darkblue;  
}

.h-js-btn:hover, .h-cs-btn:hover {
background-color: #519ef5;
}

.tabs-container {
  width: 100%;
  max-width: 900px;
  height: 100%;
}

.bloc-tabs {
  display: flex;
}

.tabs {  
padding: 10px 5px;
text-align: center;
width: 50%;
background-color: #0049c6;
cursor: pointer;
border-bottom: 1px solid rgba(0, 0, 0, 0.274);
border-radius: 15px 15px 0 0;
box-sizing: content-box;
outline: none;
color:white;
/* mobile */
min-width: 70px;
}

.tabs:not(:last-child){
border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
background:#7eabf3;
border-bottom: 1px solid transparent;
color:black;
}

.active-tabs::before {
content: "";
display: block;
position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
width: calc(100% + 2px);
height: 5px;
}  

button {
border: none;    
}

.content-tabs {
height: 100%;
overflow-y: scroll;
/* padding-bottom: 50px; */
background:#7eabf3;
}

.content-tabs::-webkit-scrollbar {
width: 12px;
}

.content-tabs::-webkit-scrollbar-track {
background: #045de9 ;
}

.content-tabs::-webkit-scrollbar-thumb {
background-color: #00286a;
border-radius: 20px;
border: 3px solid #045de9 ;
}

.content {
background: #7eabf3;
/* padding: 20px; */
width: 100%;
height: 100%;
display: none;
}

/* .content h2 {
padding: 0px 0 5px 0px;
} */

/* .content hr {
width: 100px;
height: 2px;
background: #222;
margin-bottom: 5px;
} */

/* .content p {
width: 100%;
height: 100%;
} */

.active-content {
display: block;
min-width: 300px;
}


/* SESSIONS.JS STYLES */
.s-col-container {
  display:flex;
  justify-content: center;
  background-color: whitesmoke;
  height:100vh;
}

.s-dash{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width:100%;
  height: 100%;
  word-wrap: normal;
}

.fill {  
height: 50%;
}

.s-tabs {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.s-search {
  width: 300px;
  margin: 15px auto 5px auto;
}

.session-list {
  display:flex;
  flex-direction: column;
  margin: 10px;
}

/* SESSION.JS STYLES */
.session,.session-2 {
  border-radius: 25px;
  background: #0049c6; 
  color:white;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  min-width: 300px;
  overflow: hidden;
  height: 50px;
}

.session-2 {
  background: #2e7bff;
}

.session-2:hover, .session:hover {
  cursor: pointer;
  background-color: #2e7bff;  
}

.s-title {
  font-size: large;
}

.s-created-at {
  font-style: italic;
  color: whitesmoke;
  margin-left: auto;
}

.s-generator, .c-generator {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;
height: 45vh;
background-color: #7eabf3;
}

.c-form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.h-courses-cont {
  display:flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  justify-content:center;
  align-items: center;
}

/* SQ.JS STYLES */
.sq-cont h3 {
color:white;
}

.sq, .sq-2 {
margin: 10px;
width: 200px;
height: 200px;
border-radius: 25px;
box-shadow: 5px 5px 5px #045de9;
background-color: #0049c6;
padding: 20px;
color:white;
}

.sq-2 {
background-color: #2e7bff;
}

.sq-2:hover, .sq:hover {
cursor: pointer;
background-color: #7eabf3;
}

.sq-title{
font-size: larger;
}

.sq-students{
font-style: italic
}

.web-sq-list {
display:flex;
width:100%;
justify-content: center;
overflow-x: scroll;
}
.sq-list {
/* display:flex; */
width:100%;
justify-content: center;
align-items: center;
overflow-x: scroll;
}

.no-sessions {
display: flex;
justify-content: center;
align-items: center;
text-align: center; 
width: 100%;
height: 100%;  
font-style: italic;
background-color: lightgray;
border-radius: 25px;
margin: 15px 25px;
}


/* INACTIVE STYLES */

/* .course-list {
display:flex;
overflow-x: scroll;
}

.c-cont h3 {
color:white;
}

.course, .course-2 {
margin: 10px;
width: 200px;
height: 200px;
border-radius: 25px;
box-shadow: 5px 5px 5px #045de9;
background-color: #0049c6;
padding: 20px;
color:white;
}

.course-2 {
background-color: #2e7bff;
}

.course-2:hover, .course:hover {
cursor: pointer;
background-color: #fff;
color:black;
}

.c-title{
font-size: larger;
}

.c-students{
font-style: italic
}

.course-btn {
color: white;
background-color:#045de9;
border-radius: 25px;
margin: 5px 2px;
border: none;
padding: 5px 15px;
margin-left: 15px;
}

RECENTS
.h-courses-cont {
display:flex;
flex-direction: column;
width:100%;
height: 100%;
justify-content:center;
align-items: center;
}

.h-courses-cont h2 {
font-weight:larger;
margin-bottom: 20px;
}

.h-courses {
  display: flex;
}

.r-item{
  border-radius: 20px;
  border: solid 1px gray;
  min-width: 200px;
  height: 150px;
  margin-right: 20px;
  padding: 0px 10px;
  background-color: whitesmoke;
}

COURSES.JS
.c-col-container {
  display: flex;
  justify-content:center;
  width: 100%;
  background-color: whitesmoke;
}

.c-dash {
  display: flex;
  flex-direction: column;
  justify-content:center;
  width:60%;
  height: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recents-items{
  display: flex;
}

.carousel {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}

.carousel-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% 0;
}

.left-arrow,.right-arrow {
  color: #7eabf3;
  cursor: pointer;
  margin: 0 auto;
}

.carousel-btn {
  margin-top:auto;
  margin-bottom:0;
  cursor: pointer;
  font-size: 15px;
  background: #0049c6;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px darkblue;
}
.carousel-btn:hover {
background-color: #519ef5;
}

.item {
  opacity: 0;
  transition-duration: 1s ease;
}

.item-body p {
margin-top: 5%;
}

.item-body button {
margin-top: 50px;
}

.item-active {
opacity:1;
transition-duration: 1s ease;
transform: scale(1.08);
background-color: #7eabf3;
width: 400px;
height: 250px;
padding: 20px;
border-radius: 25px;
justify-content: center;
align-items: center;
} */