@font-face {
    font-family: 'Eight Bit Dragon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Eight Bit Dragon Regular'), url('eight-bit-dragon.woff') format('woff');
    }
    h1{
        font-family:'Eight Bit Dragon Regular' ;
    }