.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #3b62ff;
  background-image: url("./background.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100vw 100vh;
}
/* 
input[type="text"],
input[type="username"] {
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  /* box-shadow: 2px; */
/* } */

/* username and password fields */
input[type="text"] {
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 4px 4px 4px darkblue;
  /* box-shadow: 2px; */
}

/* login button
input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #0049c6;
  border: 1px solid #0049c6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px darkblue;
}
*/
input[type="submit"]:hover {
  background: #519ef5;
} 

.lp-button{
  cursor: pointer;
  font-size: 15px;
  background: #0049c6;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px darkblue;
}
.lp-button:hover {
  background-color: #519ef5;
  border: none;
}

.login-header1 {
  text-shadow: 3px 3px 3px darkblue;
  transition: all .2s ease-in-out;
}
.login-header1:hover{
  transform: scale(1.1);
}

.login-header3 {
  text-shadow: 3px 3px 3px darkblue;
  font-family: "Eight Bit Dragon Regular";
  font-size: x-large;
  margin: 40px 0px;
  transition: all .2s ease-in-out;
}
.login-header3:hover{
  transform: scale(1.1);
}

.login-label {
  text-shadow: 2px 2px 2px darkblue;
}
.dual-button-cont {
  /* background-color: pink; */
  display: flex;
  margin-top:20px;
}

.btns-container {
  margin-top: 15px;
} 

.button-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}

.session-button {
  /* margin-top: 10px; */
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  background: #0049c6;
  border: 1px solid #0049c6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px darkblue;
  border-radius: 25px
}

/* .login-form {
  background-color: rgb(163, 17, 17);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin: 50px 0px; */
  /* background-color: grey; */
}

html {
  min-height: 100%;
}
